/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


.section.no-pad-bot {
  margin: 50px 0;
}

hr.seperator {
  margin-top: 30px;
}

span.seperator {
  padding: 0 10px;
}

.education.heading {
  margin-bottom: 10px;
}

.header.col.s12.light {
  color: black;
  font-style: italic;
}

h5 {
  margin-bottom: 20px;
}

.contacts.icon {
  height: 40px;
  width: 40px;
}

.contacts.content {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.footer.container {
  padding-bottom: 15px;
}

#photo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-image: url('../images/peach-photo.jpg');
  background-size: cover;
  background-position: -18px 0;
}

.projects.large {
  height: 200px;
  width: 200px;
}

.projects.item {
  display: inline-block;
  border: 5px solid green;
  background-size: cover;
}

.projects.content {
  z-index: 10;
  height: 190px;
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  background-color: rgba(200, 200, 200, 0.8);
}

#highlight-project {
  background-image: url('../images/highlight.png');
  background-position: -22px 8px;
}

#peachiego-project {
  background-image: url('../images/peachiego.png');
}

#wikitag-project {
  background-image: url('../images/wiki-tag.png');
  background-position: -5px 0;
}

#tictactoe-project {
  background-position: -22px 0;
  background-image: url('../images/tictactoe.png');
}

#burning-airlines-project {
  background-image: url('../images/burning-airlines.png');
}
